// @media (max-width: 1200px) {
//   .container {
//     max-width: 970px;
//   }
// }

// @media (max-width: 992px) {
//   .container {
//     max-width: 750px;
//   }
// }

// @media (max-width: 767px) {
//   .container {
//     max-width: none;
//   }
// }

@media (max-width: 1200px) {
  .header__container {
    max-width: 1035px;
    flex-wrap: wrap;
  }

  .header__menu {
    order: 1;
    margin: 0 auto;
    padding: 0 15px;
    
  }  
}