$link: #436372; /*color link*/
$link1: #243f4d;
$tabs: #8b8b8b; /*color tabs*/
$accent: #a3bbc8; /*color buttons*/
$title3: #1a1a1a; /*color title3*/
$footer: #7b7b7b;
$black: #191919;

%dmsans-400 {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%title-3 {
  @extend %dmsans-700;
  color: #191919;
  font-size: 36px;
  line-height: 1.5;
}

%tabs-3 {
  @extend %dmsans-700;
  color: $tabs;
  font-size: 16px;
  line-height: 1.5;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
