@import "vars"; // переменные для цвета, шрифта и кусочки кода для @extend
@import "fonts";
@import "reset";
@import "libs";
@import "global"; // общие стили для body, title, ссылок т.д.

// ------ header------------------

.header {
  &__container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 144px;
  }
  &__menu {
    margin-left: 8.5%;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 0.9;
    color: $link;
    padding: 0 3px 2px;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
    &:hover {
      border-bottom: 1px solid $link;
      text-shadow: 0 0 0.65px $link, 0 0 0.65px $link;
    }
  }

  &__link--active {
    border-bottom: 1px solid $link;
    text-shadow: 0 0 0.65px $link, 0 0 0.65px $link;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  & > *:not(:first-child) {
    margin-left: 20px;
  }

  &__icons {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fcd7b6;
    padding: 10px 35px 10px 40px;
    border-radius: 25px;
  }

  &__link-heart {
    margin-right: 58px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 30px;
      background-color: #fde7d3;
      left: 50px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    top: -6px;
    right: -8px;
    text-align: center;
    line-height: 16px;
    @extend %dmsans-400;
    color: #243f4d;
    font-size: 10px;
  }

  &__link-cart {
    position: relative;
  }
}

// ---------footer----------

.footer {
  &__top {
    margin: 0 15px;
    padding: 55px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.71;
    color: $footer;
  }

  &__top-column {
    padding: 20px 15px;
  }

  .footer__top-logo {
    display: block;
    margin-top: -15px;
    margin-bottom: 25px;
  }

  &__top-address {
    max-width: 200px;
    font-style: normal;
    line-height: 1.71;
  }

  &__top-phone,
  &__top-email {
    display: block;
    text-transform: uppercase;
    color: $footer;
  }

  &__top-phone {
    margin: 20px 0 12px;
  }

  &__top-email {
    & span {
      text-transform: initial;
    }
  }

  &__top-title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.31;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #1f2044;
  }

  &__top-list {
    max-width: 120px;
  }

  &__top-item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__top-link {
    color: $footer;
    &:hover {
      color: #1a1a1a;
    }
  }

  &__top-text {
    width: 270px;
    margin-bottom: 40px;
  }

  &__top-input {
    background-color: #fef7f0;
    max-width: 170px;
    height: 38px;
    padding: 0 10px;
    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__top-btn {
    background-color: $accent;
    cursor: pointer;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    min-height: 38px;
    padding: 0px 18px 0px 16px;
    margin-left: -4px;
    transition: all 0.3s;
    &:hover {
      background-color: #99abb5;
    }
    &:active {
      background-color: #7d96a4;
      transform: translateY(3px);
    }
  }

  &__bottom {
    padding: 20px 0;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-400;
    font-size: 14px;
    color: $footer;
  }

  &__bottom-menu {
    display: flex;
  }

  &__bottom-item {
    padding: 0 14px;
    border-right: 2px solid $accent;
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  &__bottom-limk {
    color: $footer;
    transition: color 0.3s;
    &:hover {
      color: $title3;
    }
  }
}

// -------top-slider-----------------------

.top-slider {
  &__item {
    min-height: calc(100vh - 144px);
    padding: 220px 0 220px;
    position: relative;
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 470px;
    color: #243f4d;
  }

  &__content > *:not(:last-child) {
    margin-bottom: 35px;
  }

  &__title {
    @extend %rubik-500;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 97%;
  }

  &__text {
    max-width: 360px;
    font-size: 18px;
    line-height: 167%;
  }

  &__link {
    background-image: url("../images/icons/arrow-btn.svg");
    background-repeat: no-repeat;
    background-position: 75% 54%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @extend %rubik-500;
    font-size: 15px;
    color: #fff;
    min-height: 60px;
    background-color: $accent;
    padding: 0 100px 0 25px;
    transition: background-position-x 0.5s, transform 0.5s,
      background-color 0.2s;
    &:hover {
      background-position-x: 85%;
    }
    &:active {
      transform: translateY(3px);
      background-color: #7d96a4;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__img {
    object-position: 50%;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
  }

  .slick-dots .slick-active button {
    background-color: #fff;
  }

  .slick-dots button {
    @extend %rubik-500;
    font-size: 11px;
    height: 30px;
    width: 30px;
    background-color: #fde3cc;
    border-radius: 50%;
    color: #243f4d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 12px;
  }
}

//-----benefits---------------------

.benefits {
  margin-top: -30px;
  &__inner {
    background-color: #fef7f0;
    min-height: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }

  &__item {
    max-width: 280px;
    padding-left: 75px;
    &:not(:last-child) {
      margin-right: 15px;
    }

    &-support {
      background-image: url("../images/icons/benefits-support.svg");
      background-repeat: no-repeat;
    }
    &-delivery {
      background-image: url("../images/icons/benefits-delivery.svg");
      background-repeat: no-repeat;
    }
    &-payment {
      background-image: url("../images/icons/benefits-payment.svg");
      background-repeat: no-repeat;
    }
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
    & + * {
      margin-top: 20px;
    }
  }

  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.6;
    color: #585858;
  }
}

// -------Products-week-----------------

.products-week {
  padding: 75px 0 185px;

  &__title {
    text-align: center;
    @extend %title-3;
    & + * {
      margin-top: 35px;
    }
  }

  &__tabs {
    text-align: center;
    @extend %tabs-3;
    & + * {
      margin-top: 80px;
    }
  }

  &__tab {
    background-color: transparent;
    color: $tabs;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .products-week__tab.mixitup-control-active {
    color: $black;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px 30px;
    grid-auto-rows: 1fr;
  }

  &__item {
    padding: 25px 16px 40px;
    background-color: #fff;
    display: grid;
    grid-template-rows: minmax(auto, 280px) 1fr 1fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  .products-week__item-icons {
    position: absolute;
    bottom: 30%;
    transform: translateX(-300%);
    transition: transform 0.5s;
  }

  &__item-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #fefefe;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 50%;
    path {
      transition: all 0.5s;
    }
    &:hover {
      background-color: $accent;
      path {
        fill: #fff;
      }
    }
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__item:hover {
    .products-week__item-icons {
      transform: translateX(0);
    }
  }

  &__item-img {
    width: 236px;
    height: 210px;
    margin-bottom: 60px;
    object-fit: contain;
  }

  &__item-title {
    @extend %dmsans-500;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #243f4d;
  }

  &__item-price {
    @extend %dmsans-700;
    color: $accent;
    line-height: 1.5;
    text-align: center;
  }
}

.products-week__content {
  // display: none;
}

// ----exclusive-----------------------------

.exclusive {
  padding-bottom: 100px;

  &__items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin: 0 15px;
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;

    &:hover .exclusive__item-link {
      transition: 0.5s linear;
      background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    }
  }

  &__item-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-img {
    transform: translateY(-95px);
    margin-right: 30px;
  }

  &__item-content * + * {
    margin-top: 20px;
  }

  &__item-title {
    @extend %dmsans-700;
    color: #243f4d;
    font-size: 26px;
    line-height: 1.23;
    max-width: 270px;
  }

  &__item-text {
    color: #243f4d;
    font-size: 16px;
    line-height: 1.9;
    max-width: 300px;
  }

  &__item-link {
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px,
      rgba(100, 100, 100, 0.3) 3px 7px 3px;
    user-select: none;
    padding: 1em 2em;
    outline: none;
    border-radius: 3px / 100%;
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
      ),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, 0.3)
      ),
      linear-gradient(
        to right,
        rgba(125, 125, 125, 1),
        rgba(255, 255, 255, 0.9) 45%,
        rgba(125, 125, 125, 0.5)
      ),
      linear-gradient(
        to right,
        rgba(125, 125, 125, 1),
        rgba(255, 255, 255, 0.9) 45%,
        rgba(125, 125, 125, 0.5)
      ),
      linear-gradient(
        to right,
        rgba(223, 190, 170, 1),
        rgba(255, 255, 255, 0.9) 45%,
        rgba(223, 190, 170, 0.5)
      ),
      linear-gradient(
        to right,
        rgba(223, 190, 170, 1),
        rgba(255, 255, 255, 0.9) 45%,
        rgba(223, 190, 170, 0.5)
      );
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
  }
  &__item-link:hover {
    transition: 0.5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  }
  &__item-link:active {
    top: 2px;
  }
}

// ----New Design----------------------------

.design {
  padding: 100px 0 120px;

  &__title {
    text-align: center;
    @extend %title-3;
    & + * {
      margin-top: 60px;
    }
  }

  &__inner {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-auto-rows: 1fr;
  }

  &__item {
    padding: 40px 15px 35% 35px;
    position: relative;
  }

  &__item::after {
    content: "";
    background-color: rgba(67, 99, 114, 0);
    transition: background-color 0.3s;
  }

  &__item:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(67, 99, 114, 0.201);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__link {
    position: relative;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 20px;
    color: $black;
    max-width: 175px;
    margin-bottom: 20px;
  }

  &__subtitle {
    @extend %dmsans-700;
    color: $accent;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
}

// --Page-video----------------------

.video {
  position: relative;
  padding: 10% 0 10%;
  display: flex;
  justify-content: center;

  &__link {
    animation-name: StartButton;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    display: inherit;
  }

  &__images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes StartButton {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// -----Articles-------------------------

.articles {
  padding-top: 70px;

  &__header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %title-3;
  }

  &__link {
    @extend %dmsans-700;
    color: #262626;
    padding-right: 20px;
    background-image: url("../images/icons/articles-arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item {
    margin: 0 15px;
    flex: 1 1 33.3333%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: grid;
    grid-template: auto 1fr / 1fr;
  }

  &__item-img {
    min-height: 250px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__item-inner {
    background-color: #fff;
    padding: 0 25px 25px 30px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: start;
  }

  &__item-link {
    @extend %poppins-700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent;
    padding: 8px 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -15px;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #99abb5;
    }
    &:active {
      background-color: #7d96a4;
      transform: translateY(3px);
    }
  }

  &__item-text {
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 1.2;
    color: $black;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__item-author {
    @extend %rubik-400;
    font-size: 12px;
    text-transform: uppercase;
    color: #222933;
    padding: 0 10px 0;
    margin-top: 20px;

    & * {
      padding-left: 20px;
      background-image: url("../images/icons/articles-time1.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    & *:not(:first-child) {
      background-image: url("../images/icons/articles-user1.svg");
      background-size: contain;
      background-position: 0 0;
      margin-left: 22px;
    }
  }
}

// ---------Partners------------------

.partners {
  padding-top: 178px;
  margin-top: -171px;
  background-color: #fef7f0;
  min-height: 436px;

  &__list {
    padding: 86px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page__partners.partners.partners--login {
  padding-top: 0;
  margin-top: 0;
  background-color: #fef7f0;
  min-height: 250px;

  &__list {
    padding: 86px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// -----Log in-----------------

.modal {
  padding: 115px 0;

  &__form {
    max-width: 470px;
    margin: 0 auto;
    font-size: 14px;
    color: $link;
    & > * > * {
      display: block;
    }
    & > button {
      padding: 0;
      @extend %rubik-500;
      font-size: 18px;
      padding: 20px 10px 25px;
      cursor: pointer;
      width: 100%;
    }
  }

  &__label-checkbox {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 35px;
    border-bottom: 2px solid #f6f6f6;
    & > input {
      margin-right: 10px;
    }
    & > a {
      margin-left: auto;
      color: inherit;
    }
  }

  &__input {
    border: 2px solid #f6f6f6;
    min-height: 60px;
    width: 100%;
    margin: 15px 0 30px;
    padding: 0 10px;
  }

  &__btn-login {
    border: none;
    color: #fff;
    background-color: $accent;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 30px;
    &:hover {
      background-color: #99abb5;
    }
    &:active {
      background-color: #51626d;
      transform: translateY(3px);
    }
  }

  &__text {
    text-align: center;
  }

  &__btn-account {
    background-color: transparent;
    color: $link;
    border: 2px solid $accent;
    transition: transform 0.3s, border-color 0.4s;
    margin-top: 25px;
    &:hover {
      border-color: #51626d;
    }
    &:active {
      transform: translateY(3px);
    }
  }
}

// ----Contact--------------------

.contact {
  padding-top: 120px;
  text-align: center;

  &__subtitle {
    @extend %poppins-700;
    line-height: 1.25;
    color: $accent;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 35px;
    line-height: 1.65;
    margin-bottom: 70px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 120px;
  }

  &__item {
    flex: 1 1 370px;
    margin: 0 15px;
    background-color: #fbfbfb;
    padding: 25px 15px 75px;
    line-height: 1.88;
    color: #565872;
    border: 3px solid transparent;
    transition: border-color 0.4s;
    & path.line,
    & path.background {
      transition: all 0.4s;
    }
    &:hover {
      border: 3px solid #a3bbc8;
    }
    &:hover path.line {
      fill: #fff;
    }
    &:hover path.background {
      fill: $accent;
    }
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 1.3;
    color: $black;
    margin: -15px 0 10px;
  }

  &__item-address {
    font-style: normal;
    color: #565872;
    max-width: 170px;
    margin: 0 auto;
  }

  &__item-email,
  &__item-inquiries,
  &__item-phone,
  &__item-mobile {
    display: block;
    color: inherit;
  }

  &__map-inner {
    display: flex;
    justify-content: space-between;
  }

  &__map-form {
    max-width: 630px;
    width: 100%;
    margin-right: 30px;
    & > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__map-input::placeholder,
  &__map-textarea::placeholder {
    text-transform: uppercase;
    line-height: 1.88;
    color: #565872;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__map-input--name::placeholder {
    background-image: url("../images/icons/form-user.svg");
  }

  &__map-input--email::placeholder {
    background-image: url("../images/icons/form-package.svg");
  }

  &__map-textarea::placeholder {
    background-image: url("../images/icons/form-message.svg");
  }

  &__map-input {
    max-width: 300px;
    width: 100%;
    padding: 15px 15px;
    background-color: #fafafa;
    & + .contact__map-input {
      margin-left: 20px;
    }
  }

  &__map-textarea {
    display: block;
    padding: 15px 15px;
    background-color: #fafafa;
    width: 100%;
    min-height: 175px;
    resize: none;
  }

  &__map-btn {
    display: block;
    min-height: 50px;
    padding: 15px 45px;
    @extend %poppins-700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: #99abb5;
    }
    &:active {
      background-color: #51626d;
      transform: translateY(3px);
    }
  }
}

// -----Product---------------------

.product {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    min-width: 270px;
    margin-right: 30px;
  }

  &__filters > *:not(:last-child) {
    margin-bottom: 60px;
    // посмотрим??  -----------------------------
  }
}

.filter-item:not(:last-child) {
  margin-bottom: 60px;
}
.filter-title {
  @extend %dmsans-700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  color: #243f4d;
  margin-bottom: 30px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background-color: $accent;
    height: 3px;
    width: 38px;
    top: 8px;
    margin-left: 15px;
  }
}

.filter-category {
  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
      & > * + * {
        color: #243f4d;
      }
    }
  }

  &__checkbox {
    padding: 12px 20px 12px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
  }

  &__text {
    color: #243f4d;
  }

  &__arrow {
    color: #70818a;
  }
}

.filter-price {
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }

  &__btn {
    display: block;
    min-height: 50px;
    padding: 15px 30px;
    @extend %poppins-700;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      background-color: #99abb5;
    }
    &:active {
      background-color: #51626d;
      transform: translateY(3px);
    }
  }
}

// ---RangeSlider start--------------------

.irs-min,
.irs-max {
  display: none;
}

.irs--flat {
  height: 15px;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: #bfd0d9;
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #dfe7ec;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

// ---RangeSlider end----------------

.filter-brand {
  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
      & > * + * {
        color: #243f4d;
      }
    }
  }

  &__checkbox {
    padding: 12px 20px 12px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    color: #b3b3b3;
  }

  &__brand {
    color: #243f4d;
  }
}

.recent-item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 22px;
  }

  &__image {
    padding: 2px 4px;
    text-align: center;
    width: 70px;
    border: 3px solid #f2f2f2;
    margin-right: 20px;
  }

  &__img {
    height: 61px;
    object-fit: cover;
  }

  &__content {
    padding: 5px 0;
  }

  &__title {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1.15;
    color: #333;
  }

  &__price {
    font-size: 15px;
    line-height: 1.15;
    color: #333;
  }
}
.star {
  padding: 12px 0;
}

.jq-ry-container > .jq-ry-group-wrapper {
  min-width: 82px;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg:not(:last-child) {
  margin-right: 6px;
}

.product-content {
  width: 100%;
  &__filter {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $accent;
    margin-bottom: 20px;
    &-buttons {
      display: flex;
    }
    &-btn {
      padding-left: 15px;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
  &__filter-btn--active {
    path {
      fill: $accent;
    }
  }
  & .products-week__item-icons {
    transform: translateX(-350%);
    transition: all 0.4s;
  }
}
// -------------------------------
.products-week__content {
  display: none;
}
.products-week__star {
  display: none;
}
// ------------------------------------

.products-week__inner.products-week__inner--list {
  display: block;
}

.products-week__item.products-week__item--list {
  padding: 0;
  display: flex;
  box-shadow: none;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
  .products-week__item-image {
    flex: 0 1 370px;
    position: relative;
    padding-bottom: 58%;
    margin-right: 30px;
    border: 1px solid $accent;
  }
  .products-week__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    max-width: none;
    max-height: none;
    margin-bottom: 0;
    padding: 20px;
    object-fit: contain;
  }
  .products-week__item-icons {
    display: none;
  }
  .products-week__wrapper {
    flex: 0 1 470px;
  }
  .products-week__box {
    @extend %rubik-400;
    color: $title3;
    margin-bottom: 30px;
  }
  .products-week__item-title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 2%;
  }
  .products-week__item-price {
    font-size: 30px;
    color: $accent;
    text-align: left;
  }
  .products-week__content,
  .products-week__star {
    display: block;
  }
  .products-week__star {
    margin-bottom: 4.5%;
  }
  .products-week__text {
    color: #243f4d;
    line-height: 180%;
    max-width: 440px;
    // padding: 30px 0;
  }
  .products-week__content-link {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    path {
      transition: all 0.5s;
    }
    &:hover {
      background-color: $accent;
      path {
        fill: #fff;
      }
    }
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

// ---------Product Details----------------------------

.details {
  padding: 115px 0 50px;
}

.details-item {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slide {
    flex: 0 1 570px;
    margin-right: 30px;
  }

  &__content {
    flex: 0 1 570px;
  }

  &__content-title {
    @extend %rubik-400;
    font-size: 40px;
    color: $title3;
    line-height: 0.7;
    margin-bottom: 20px;
  }

  &__content-star {
    margin-bottom: 30px;
  }

  &__content-price {
    @extend %rubik-400;
    font-size: 40px;
    color: $title3;
    line-height: 0.7;
    margin-bottom: 30px;
  }

  &__content-text {
    line-height: 2;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__content-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__content-btn {
    padding: 15px 53px;
    margin-left: 15px;
  }

  &__content-item {
    display: flex;
    margin-bottom: 15px;
  }

  &__content-lable {
    margin-right: 5px;
    text-transform: uppercase;
  }

  &__content-link {
    color: $link;
  }
}
.details-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
  }

  &__thumb {
    width: 140px;
    margin-right: 25px;
  }

  &__thumb-item {
    border: 1px solid $accent;
    width: 140px;
    height: 160px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  &__thumb-img {
    width: 140px;
    height: 160px;
    object-fit: cover;
    padding: 10px;
  }

  &__big {
    width: 386px;
  }

  &__big-item {
    width: 386px;
    height: 530px;
    border: 1px solid $accent;
  }

  &__big-img {
    width: 386px;
    height: 530px;
    object-fit: none;
  }
}

.jq-number {
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
}

.jq-number .details-item__content-input {
  text-align: center;
}

.jq-number__field {
  width: 50px;
  padding: 8px 0;
  border: 1px solid $accent;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 2px;
  width: 32px;
  height: 14px;
  border: 1px solid $accent;
  border-bottom-color: #b3b3b3;
  border-radius: 0;
}

.jq-number__spin:hover {
  background: transparent;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  border: 1px solid $accent;
  background: transparent;
}

.jq-number__spin.minus {
  top: auto;
  bottom: 0;
  left: -50px;
}

.jq-number__spin:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 1px;
  background-color: $black;
  border: none;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: $black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jq-number__spin.minus:after {
  top: 5px;
  border: none;
  top: 50%;
}

// ------tabs-------------------

.details-tabs {
  padding: 100px 0 110px;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 50px;
  }

  &__title {
    flex: 0 1 240px;
    @extend %rubik-500;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: #243f4d;
    padding: 7px;
    border-radius: 5px;
    background-color: #edf1f4;
    &--active {
      color: #fff;
      background-color: #a3bbc8;
    }
  }

  &__content {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
  }

  &__content-item {
    display: none;
    &.details-tabs__content-item--active {
      display: block;
    }
  }

}
.tabs-comments {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }

  &__inner {
    flex: 0 1 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid $accent;
  }

  &__inner-top {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    @extend %rubik-500;
    font-weight: 700;
    font-size: 16px;
    color: #436372;
    margin-bottom: 15px;
  }

  &__date {
    @extend %rubik-400;
    font-size: 14px;
    color: #9e9e9e;
  }

  &__text {
  }

  &__link {
    @extend %rubik-400;
    font-size: 14px;
    color: #516278;
    padding-right: 40px;
    background-image: url("../images/icons/arrow-btn-grey.svg");
    background-repeat: no-repeat;
    background-position: 80% 61%;
    transition: all 0.3s;
    &:hover {
      background-position: 100% 61%;
    }
  }
}

.details-products {

  &__title {
    @extend %dmsans-700 ;
    font-size: 36px;
    line-height: 1.5;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__inner {
    display: block;
  }

  &__item {
    text-align: center;
  }
  
  .products-week__item {
    box-shadow: 0px -22px 47px 3px rgb(37 37 37 / 5%);
  }

  .products-week__item-icons {
    position: absolute;
    bottom: 30%;
    transform: translateX(-300%);
    transition: transform 0.5s;
  }

  .slick-initialized .slick-slide {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__item-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #fefefe;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 50%;
    path {
      transition: all 0.5s;
    }
    &:hover {
      background-color: $accent;
      path {
        fill: #fff;
      }
    }
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  .products-week__item:hover {
    .products-week__item-icons {
      transform: translateX(20%);
    }
  }

  .products-week__item-title {
    text-align: center;
  }

  .slick-arrow {
    position: absolute;
    z-index: 3;
    top: -90px;
    right: 0;
    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 0;
    border: 2px solid #edf1f4;
    border-radius: 5px;
    background-image: url('../images/icons/arrow-btn-grey.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .4s;
  }

  .slick-next {
    right: 65px;
    transform: rotate(180deg);
    
  }

  .slick-arrow:hover {
    border: 2px solid $accent;
  }
}

@import "media";
